echo "dotfiles/home/.aliases"

alias cola="git-cola &"
alias dag="git-dag &"

alias pycharm="pycharm-community"
alias pycharm-community="/opt/pycharm-community/bin/pycharm.sh &"
#alias idea="idea-IC"
#alias idea-IC="/opt/idea-IC/bin/idea.sh &"
alias webstorm="/opt/webstorm/bin/webstorm.sh &"
alias android-studio="/opt/android-studio/bin/studio.sh &"


# https://coderwall.com/p/oaaqwq/pbcopy-on-ubuntu-linux
alias pbcopy="xclip -sel clip"

weather() { curl wttr.in/$1; }



#alias sdkmanager="JAVA_HOME=/Applications/Android\ Studio\ 3.5.app/Contents/jre/jdk/Contents/Home sdkmanager"

alias src="cd /Volumes/Recoverable/Sources"

alias remaining_battery="pmset -g batt"

alias adb_top_activity="adb shell dumpsys window windows | grep -E 'mCurrentFocus|mFocusedApp'"

alias brewfile="brew update && (cd ~/.dotfiles; brew bundle --file="${HOME_DOTFILES}/home/.Brewfile" --verbose)"

alias adb_apk_list="adb shell pm list packages"

# $1 - package name
adb_apk_pull() {
  local pkgname=$1
  mkdir -p "$pkgname"
  adb pull "$(adb shell pm path $pkgname | awk -F':' '{print $2}')" "${pkgname}/"
}
# Short:
#export NAME=com.amazon.kindle;  mkdir -p "$NAME"; adb pull "$(adb shell pm path $NAME | awk -F':' '{print $2}')" "${NAME}/"
